<!DOCTYPE html>

{% extends "main/base.html" %}

{% block content %}

<script src="{{ url_for('admin.static', filename='js/allowance_prices_table_japan.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/allowance_prices_table_world.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('admin.static', filename='css/allowance_prices_table_japan_style.css') }}">
<link rel="stylesheet" href="{{ url_for('admin.static', filename='css/allowance_prices_table_world_style.css') }}">

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-6 ms-sm-auto col-lg-6 px-md-4">
            <div class="card flex-fill">
                <div class="card-header py-3">
                    <div style="display: flex; justify-content: center;">
                        <h3 class="card-title mb-0">Allowance Prices Japan Table</h3>
                    </div>
                </div>
                <div class="card-body py-0 mb-3">
                    <table class="display cell-border" style="width: 100%" id="allowancePricesJapanTable">
                        <thead>
                            <tr style="text-align: center;">
                                <th class="col-name">Name</th>
                                <th class="col-price">Price</th>
                                <th class="col-note">Note</th>
                                <th class="col-menu">Menu</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for allowance_price in allowance_prices_japan %}
                            <tr data-id="{{ allowance_price.id }}">
                                <td class="view-mode-japan">{{ allowance_price.name }}</td>
                                <td style="text-align:end" class="view-mode-japan">{{
                                    allowance_price.allowance }}</td>
                                <td class="view-mode-japan">{{
                                    allowance_price.note }}</td>
                                <td style="text-align:center">
                                    <button class="btn btn-primary btn-sm btn-edit-japan"><i class="align-middle"
                                            data-feather="edit"></i></button>
                                    <button class="btn btn-success btn-sm btn-save-japan edit-mode-japan"
                                        style="display: none;"><i class="align-middle" data-feather="save"></i></button>
                                    <button class="btn btn-secondary btn-sm btn-cancel-japan edit-mode-japan"
                                        style="display: none;"><i class="align-middle" data-feather="x"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 ms-sm-auto col-lg-6 px-md-4">
            <div class="card flex-fill">
                <div class="card-header py-3">
                    <div style="display: flex; justify-content: center;">
                        <h3 class="card-title mb-0">Allowance Prices World Table</h3>
                    </div>
                </div>
                <div class="card-body py-0 mb-3">
                    <table class="display cell-border" style="width: 100%" id="allowancePricesWorldTable">
                        <thead>
                            <tr style="text-align: center;">
                                <th class="col-name">Name</th>
                                <th class="col-price">Price</th>
                                <th class="col-note">Note</th>
                                <th class="col-menu">Menu</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for allowance_price in allowance_prices_world %}
                            <tr data-id="{{ allowance_price.id }}">
                                <td class="view-mode-world">{{ allowance_price.name }}</td>
                                <td style="text-align:end" class="view-mode-world">{{
                                    allowance_price.allowance }}</td>
                                <td class="view-mode-world">{{
                                    allowance_price.note }}</td>
                                <td style="text-align:center">
                                    <button class="btn btn-primary btn-sm btn-edit-world"><i class="align-middle"
                                            data-feather="edit"></i></button>
                                    <button class="btn btn-success btn-sm btn-save-world edit-mode-world"
                                        style="display: none;"><i class="align-middle" data-feather="save"></i></button>
                                    <button class="btn btn-secondary btn-sm btn-cancel-world edit-mode-world"
                                        style="display: none;"><i class="align-middle" data-feather="x"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
